{% for brand in brands %}
  <div class="col l9 offset-l2">
    <div class="card blue lighten-2 z-depth-1">
      <div class="card-content white-text">
        <span class="card-title">{{ brand.getName() }}</span>
        {% set stores = brand.getStores() %}
        <p>Stores:</p>
        <ul>
          {% for store in stores %}
            <li>{{ store.getName() }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="card-action">
          <a href="/brands/{{ brand.getId( )}}/addStoreForm">Add Store to Brand</a>
          <a class="right" href="/brands/{{ brand.getId( )}}/deleteBrand">Delete This Brand</a>
      </div>
    </div>
  </div>
{% endfor %}
