{% if form %}
  <form action='{{ form.action }}' method='post'>
    <div class="row">
      <div class="input-field col l10 offset-l1">
        <label for="name">Name:</label>
        <br>
        <input id="name" name="name" type="text" class="validate">
       </div>
    </div>
  </form>
{% endif %}
