{% if navbar %}
  <nav>
    <div class="nav-wrapper blue darken-2 z-depth-4">
      <a href="/" class="brand-logo center">Shoe Finder!</a>
      <ul id="nav-mobile" class="left">
        <li><a href="/stores">Stores</a></li>
        <li><a href="/brands">Brands</a></li>
      </ul>
    </div>
  </nav>
{% endif %}
